<link rel="shortcut icon" href="favicon.ico" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="/static/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="/static/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="/static/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color"
/>
<link href="/static/assets/layouts/layout/css/custom.min.css" rel="stylesheet" />
<!-- END THEME LAYOUT STYLES -->
<!-- 自定义的样式 -->
<link href="/static/assets/sdtheme/css/sdtheme.min.css" rel="stylesheet" type="text/css" />