<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> 500 </div>
        <div class=" details">
            <h3>程序或者数据出现错误</h3>
            <p>
                提示：{{.error}}
            </p>
            <p>
                程序将在
                <span class="countdown" style="color:#f00;"></span> 秒后自动返回首页
            </p>
            <p>
                <a href="" class=" btn red btn-outline"> 返回首页 </a>
                <br>
            </p>
        </div>
    </div>
</div>